.feed {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
}

.feed-item {
  display: flex;
}

.feed-item img {
  border-radius: 4px;
}

.feed-item-content {
  margin-left: 0.6rem;
}

.download-button {
  cursor: pointer;
  display: inline-block;
}
