@font-face {
  font-family: "Arimo";
  src: url("../font/Arimo-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #252a30;
  font-family: "Arimo", sans-serif;
  color: #f4f4f4;
}
.titlebar,
.titlebar > *,
.action-menu-item {
  letter-spacing: 1px;
}

.container {
  padding: 2rem;
}

.hidden {
  display: none;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error .error-icon {
  width: 48px;
  height: 48px;
  color: #ff5151;
}

.error h3 {
  margin-top: 0.8rem;
}

.error p {
  margin-top: 0.4rem;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading p {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00ffc5;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00ffc5;
  border-color: #00ffc5 transparent #00ffc5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
